{% extends "base.html" %}

{% block title %}
  Yours Zenfully - Therapy for Everyone
{% endblock %}

{% block main_content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Yours Zenfully Blogs</h2>
              <p>Explore our insightful articles on mental health, therapy, and wellness.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Yours Zenfully Blogs</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->
    

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">

        <div class="col-xl-4 col-md-6">
            <article>

            <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="Stress Management Techniques" class="img-fluid equal-size">
            </div>

            <p class="post-category">Mental Health</p>

            <h2 class="title">
                <a href="blog-details-1">The Importance of Therapy in Modern Life - Yours Zenfully</a>
            </h2>

            <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                <p class="post-author-list">Jitesh Arora</p>
                <p class="post-date">
                    <time datetime="2024-05-10">May 10, 2024</time>
                </p>
                </div>
            </div>

            </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
            <article>

            <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="Concept of Mindfulness" class="img-fluid equal-size">
            </div>

            <p class="post-category">Mental Health</p>

            <h2 class="title">
                <a href="blog-details-2">Managing Depression: Strategies and Support</a>
            </h2>

            <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                <p class="post-author-list">Jitesh Arora</p>
                <p class="post-date">
                    <time datetime="2024-05-11">May 11, 2024</time>
                </p>
                </div>
            </div>

            </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
            <article>

            <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="Therapy Session" class="img-flui equal-size">
            </div>

            <p class="post-category">Mental Health</p>

            <h2 class="title">
                <a href="blog-details-3">Effective Strategies for Stress Management - Yours Zenfully</a>
            </h2>

            <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                <p class="post-author-list">Jitesh Arora</p>
                <p class="post-date">
                    <time datetime="2024-05-12">May 12, 2024</time>
                </p>
                </div>
            </div>

            </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
            <article>

            <div class="post-img">
                <img src="assets/img/blog/blog-4.jpg" alt="Mindfulness Techniques" class="img-fluid equal-size">
            </div>

            <p class="post-category">Mental Health</p>

            <h2 class="title">
                <a href="blog-details-4">The Role of Mindfulness in Enhancing Mental Health - Yours Zenfully</a>
            </h2>

            <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                <p class="post-author-list">Jitesh Arora</p>
                <p class="post-date">
                    <time datetime="2024-05-13">May 13, 2024</time>
                </p>
                </div>
            </div>

            </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
            <article>

            <div class="post-img">
                <img src="assets/img/blog/blog-5.jpg" alt="Self-Care Practices" class="img-fluid equal-size">
            </div>

            <p class="post-category">Mental Health</p>

            <h2 class="title">
                <a href="blog-details-5">The Benefits of Therapy for Stress Management - Yours Zenfully</a>
            </h2>

            <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                <p class="post-author-list">Jitesh Arora</p>
                <p class="post-date">
                    <time datetime="2024-05-14">May 14, 2024</time>
                </p>
                </div>
            </div>


            </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-6.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Life Coaching vs Therapy: Understanding the Differences and Benefits - Yours Zenfully</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author-list">Jitesh Arora</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Feb 14, 2024</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          
        </div><!-- End blog posts list -->

    </div>
    </section><!-- End Blog Section -->

{% endblock %}
