<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Lambda</title>
</head>
<body>
    <button id="fetchBtn">Fetch Data</button>
    <script>
        document.getElementById('fetchBtn').addEventListener('click', () => {
            fetch('https://omj33xy5jl.execute-api.ap-southeast-1.amazonaws.com/dev/contact', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        });
    </script>
</body>
</html>
