{% extends "base.html" %}

{% block title %}
  Yours Zenfully - Therapy for Everyone
{% endblock %}

{% block main_content %}

<script>
    gtag('event', 'contact_view', {
      'app_name': 'YoursZenfully',
      'screen_name': 'contact'
    });
</script>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container rounded shadow-sm p-4 mx-auto" data-aos="fade-up">
      <div class="section-header text-center" style="margin-bottom:-10px">
        <h2>Consult a Therapist</h2>
        <p>Send your query here and we will match you with the best possible therapist</p>
      </div>

      <div class="row gx-lg-0 gy-4">
        <div class="col-lg-8" id="contact-form-div">
          <div class="contact-form" style="animation: slideInRight 1s ease-in-out;">
            <h2>Let's Talk</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <form id="contact-form">
                <div class="form-step active">
                    <div class="form-group">
                        <label for="name">Name*</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                        <small class="helper-text">Please enter your full name.</small>
                        <small class="error-message"></small>
                    </div>
                    <div class="form-navigation">
                        <button type="button" class="btn btn-primary next-step">Next</button>
                    </div>
                </div>
                <div class="form-step">
                    <div class="form-group">
                        <label for="phone">Phone*</label>
                        <div class="d-flex">
                            <select  type="tel" id="country-code" name="country-code" class="form-control w-auto" style="width: 500px; padding-left:30px; padding-right:30px"></select>
                            <input type="tel" id="phone" name="phone" class="form-control" placeholder="8123456789" style="margin-left:5%; width:100%" required>
                        </div>
                        <small class="helper-text">Please enter a valid phone number (e.g., 8126782445).</small>
                        <small class="error-message"></small>
                    </div>
                    <div class="form-navigation">
                        <button type="button" class="btn btn-secondary prev-step">Back</button>
                        <button type="button" class="btn btn-primary next-step">Next</button>
                    </div>
                </div>
                <div class="form-step">
                    <div class="form-group">
                        <label for="message">Please describe briefly what would you like to discuss with our therapist?</label>
                        <textarea id="message" name="message" rows="5" class="form-control"></textarea>
                        <small class="helper-text">Provide a brief description of your query.</small>
                        <small class="error-message"></small>
                    </div>
                    <div class="form-navigation">
                        <button type="button" class="btn btn-secondary prev-step">Back</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
        
        <div class="col-lg-4">
          <div class="info-container d-flex flex-column align-items-center justify-content-center rounded shadow-sm p-4" style="animation: slideInLeft 1s ease-in-out;">
            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0" style="color: #ff7e5f;"></i>
              <div>
                <h4>Location:</h4>
                <p>RMZ Ecospace, Bangalore</p>
              </div>
            </div>
            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0" style="color: #ff7e5f;"></i>
              <div>
                <h4>Email:</h4>
                <p>zenai.sherpa@gmail.com</p>
              </div>
            </div>
            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0" style="color: #ff7e5f;"></i>
              <div>
                <h4>Call:</h4>
                <p>+91 81267 82445</p>
              </div>
            </div>
            <div class="info-item d-flex">
              <i class="bi bi-clock flex-shrink-0" style="color: #ff7e5f;"></i>
              <div>
                <h4>Open Hours:</h4>
                <p>Mon-Sat: 11 AM - 8 PM</p>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>

</section>
<!-- End Contact Section -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Book your first session with us <span style="color: rgb(222, 121, 63); font-size: larger;"><strong> FOR FREE. </strong></span></h2>
          <p>Your Sherpa for every turn of your life.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/contact" class="btn-get-started">Get Started</a>
            <a href="https://youtu.be/v7-VTP8vSM4" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/hero-img.svg" class="img-fluid" alt="Welcome to Yours Zenfully - Therapy for Everyone" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Best Therapists and Coaches</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Standard Prices</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div           class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Available anytime, anywhere</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Community of Therapists</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->
 
  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>WE BELIEVE THERAPY IS FOR EVERYONE!!</h2>
        </div>
        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Try your first therapy session for <strong>FREE</strong> </h3>
            <img src="assets/img/about.gif" class="img-fluid rounded-4 mb-4" alt="Yours Zenfully Coaches - Health, Career, grief, Happiness, and Relationship Coaching" style="width: 100%;">
            <!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/wJrG4BgLKDOCO2hXgu" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p></p> -->
            <ul>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <h3>Affordable therapy sessions with Experts </h3>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Expert Therapists</strong>: Connect with licensed and experienced therapists who specialize in a wide range of mental health issues.</li>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Personalized Matching</strong>: Our smart system matches you with a therapist tailored to your specific needs and preferences.</li>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Flexible Scheduling</strong>: Book appointments that fit your busy lifestyle, with options for virtual or in-person sessions.</li>
              </ul>
              <p></p>
              <div class="position-relative mt-4">
                <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="Yours Zenfully logo - Therapy and Coaching Services">
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a></a>
        <h3>Book a Therapist</h3>
        <p> Book your first coach and confront your life's problems head on!</p>
        <a class="cta-btn" href="/contact">Get in Touch!</a>
      </div>
    </section><!-- End Call To Action Section -->


    <!-- ======= Stats Counter Section ======= -->
    <!-- <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="assets/img/stats-img.svg" alt="Yours Zenfully Stats - Customers served and companies we have worked with" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="1970" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Customers</strong> who have come back for seconds :p</p>
            </div>

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Companies</strong> trust us for their employee mental wellbeing</p>
            </div>

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="347800" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> provided to our customers</p>
            </div>

          </div>

        </div>

      </div>
    </section>
     -->
    
    <!-- End Stats Counter Section -->
<!-- ======= Our Services Section ======= -->
<section id="services" class="services sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Here's how it works</h2>
      <p>Ready, Set, Zen: Therapy in 5 Fun Steps!</p>
    </div>

    <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <h3>1. Send Us Your Details</h3>
          <p>Provide your contact information and an overview of your concerns to get started.</p>
          <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-broadcast"></i>
          </div>
          <h3>2. Explore Therapy for Free</h3>
          <p>Meet with one of our experienced therapists to discuss your needs and goals at no cost.</p>
          <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-easel"></i>
          </div>
          <h3>3. Understand Your Therapy Needs</h3>
          <p>Receive a tailored recommendation on the type of therapy that will best address your issues.</p>
          <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative" >
          <div class="icon">
            <i class="bi bi-bounding-box-circles"></i>
          </div>
          <h3>4. Sign Up for the Next Session</h3>
          <p>Enroll in an upcoming session to begin your journey towards better mental health.</p>
          <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <h3>5. Get Matched with a Therapist</h3>
          <p>We will pair you with a therapist who is best suited to help you achieve your goals.</p>
          <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div><!-- End Service Item -->

    
      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative" style="background: #96c5bf !important;">
          <div class="icon success-icon">
            <i class="bi bi-trophy"></i>
          </div>
          <h3>VOILA!</h3>
          <p>Start your journey towards a happier, healthier you with your matched therapist.</p>
          <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section><!-- End Our Services Section -->



    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>
          <p>Explore our insightful articles on mental health, therapy, and wellness</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Mental Health</p>

              <h2 class="title">
                <a href="blog-details-1">The Importance of Therapy in Modern Life</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Ashish Mohapatra</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-5.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Stress Management</p>

              <h2 class="title">
                <a href="blog-details-5">The Benefits of Therapy for Stress Management</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Ashish Mohapatra</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-6.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Therapy</p>

              <h2 class="title">
                <a href="blog-details-6">Life Coaching vs Therapy</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Ashish Mohapatra</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div>

        </div>
        
        
        <div class="text-center mt-4">
          <a href="blog" class="btn-view-all">View All Blog Posts</a>
      </div>

      </div>
    </section>
  
    <!-- End Recent Blog Posts Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container rounded shadow-sm p-4 mx-auto" data-aos="fade-up">
    <div class="section-header text-center">
      <h2>Consult a Therapist</h2>
      <p>Send your query here and we will match you with the best possible therapist</p>
    </div>

    <div class="row gx-lg-0 gy-4">
      <div class="col-lg-4">
        <div class="info-container d-flex flex-column align-items-center justify-content-center rounded shadow-sm p-4" style="animation: slideInLeft 1s ease-in-out;">
          <div class="info-item d-flex">
            <i class="bi bi-geo-alt flex-shrink-0" style="color: #ff7e5f;"></i>
            <div>
              <h4>Location:</h4>
              <p>RMZ Ecospace, Bangalore</p>
            </div>
          </div>
          <div class="info-item d-flex">
            <i class="bi bi-envelope flex-shrink-0" style="color: #ff7e5f;"></i>
            <div>
              <h4>Email:</h4>
              <p>zenai.sherpa@gmail.com</p>
            </div>
          </div>
          <div class="info-item d-flex">
            <i class="bi bi-phone flex-shrink-0" style="color: #ff7e5f;"></i>
            <div>
              <h4>Call:</h4>
              <p>+91 81267 82445</p>
            </div>
          </div>
          <div class="info-item d-flex">
            <i class="bi bi-clock flex-shrink-0" style="color: #ff7e5f;"></i>
            <div>
              <h4>Open Hours:</h4>
              <p>Mon-Sat: 11 AM - 8 PM</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8" id="contact-form-div">
        <div class="contact-form" style="animation: slideInRight 1s ease-in-out;">
          <h2>Let's Talk</h2>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <form id="contact-form">
              <div class="form-step active">
                  <div class="form-group">
                      <label for="name">Name*</label>
                      <input type="text" id="name" name="name" class="form-control" required>
                      <small class="helper-text">Please enter your full name.</small>
                      <small class="error-message"></small>
                  </div>
                  <div class="form-navigation">
                      <button type="button" class="btn btn-primary next-step">Next</button>
                  </div>
              </div>
              <div class="form-step">
                  <div class="form-group">
                      <label for="phone">Phone*</label>
                      <div class="d-flex">
                          <select  type="tel" id="country-code" name="country-code" class="form-control w-auto" style="width: 500px; padding-left:5%; padding-right:5%"></select>
                          <input type="tel" id="phone" name="phone" class="form-control" placeholder="8123456789" style="margin-left:5%; width:100%" required>
                      </div>
                      <small class="helper-text">Please enter a valid phone number (e.g., 8126782445).</small>
                      <small class="error-message"></small>
                  </div>
                  <div class="form-navigation">
                      <button type="button" class="btn btn-secondary prev-step">Back</button>
                      <button type="button" class="btn btn-primary next-step">Next</button>
                  </div>
              </div>
              <div class="form-step">
                  <div class="form-group">
                      <label for="message">Please describe briefly what would you like to discuss with our therapist?</label>
                      <textarea id="message" name="message" rows="5" class="form-control"></textarea>
                      <small class="helper-text">Provide a brief description of your query.</small>
                      <small class="error-message"></small>
                  </div>
                  <div class="form-navigation">
                      <button type="button" class="btn btn-secondary prev-step">Back</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->



  </main><!-- End #main -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"/> 




{% endblock %}

{% block extra_js %}
{% endblock %}
