
<!DOCTYPE html>
<html>
<head>
    <title>Voice Chatbot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/voicebot.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <img src="../assets/img/logo/logo.png" alt="Bot Avatar">
            <div class="chat-title">The Zen Voicebot</div>
        </div>
        <div class="chat-body"></div>
        <div class="chat-footer">
            <button id="record-button"><i class="fas fa-microphone"></i> Speak</button>
            <div class="progress-container">
                <div class="progress-bar"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/voicebot.js"></script>
</body>
</html>